$body-font-family: 'Poppins';
$body-font-weight: 200;


.v-application {
  font-family: $body-font-family, sans-serif !important;
  font-width: $body-font-weight;
}
.v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child{
  margin-right: 15px !important;
}
.v-application--is-ltr .v-list-group--no-action > .v-list-group__items > .v-list-item {
  padding-left: 56px;
}
.v-application .headline{
  font-size: 1.2rem !important;
}

.theme--light.v-stepper .v-stepper__step--active .v-stepper__label{
  text-shadow: none !important;
}
.v-list-item .v-list-item__title, .v-list-item .v-list-item__subtitle{
  text-shadow: none !important;
}